@charset "utf-8";

@import "mixin";

.service-text {
    padding: 0 3%;
    letter-spacing: .2em;
    line-height: 1.8em;
    padding-bottom: 100px;

    strong {
        color: $yellowText;
    }
    span {
        border-bottom: 1px solid $yellowText;
    }
}

.service-wrap {
    padding: 0 6%;

    .service-item {
        width: 60vw;
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        box-shadow: 4px 4px 8px 4px rgba($color: #000, $alpha: 0.2);
        margin-bottom: 50px;

        .service-item-img {
            width: 25%;
            img {
                width: 100%;
                height: auto;
            }
        }
        p {
            width: 65%;
            font-size: 20px;
        }
    }
}
.arrow {
    width: 60vw;
    margin: 0 auto;
    padding-bottom: 100px;

    a {
        float: right;
    }
}