@charset "utf-8";
.business-disc article {
    text-align: center;
    font-family: 'Noto Serif JP', serif;
}
.business-disc article h3 {
    margin-bottom: 35px;
    font-size: 30px;
    letter-spacing: 5px;
    padding-top: 50px;
}
.business-disc article p {
    padding-bottom: 52px;
    font-size: 14px;
    text-align: center;
    line-height: 2.15;
    letter-spacing: 1.5px;
}
.business-disc article img {
    margin: 0 auto;
    width: 50vw;
}