@charset "utf-8";
.news-list {
    width: 70vw;
    margin: 0 auto;
}
.news-item {
    border-bottom: 1px solid #aabcc2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px 0;
}
.news-item:last-child {
    border-bottom: none;
}
p.date {
    font-size: 15px;
}
.date span {
    font-size: 12px;
    margin-left: 2rem;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
}
p.news-title {
    font-size: 13px;
    letter-spacing: .8px;
    margin-bottom: 20px;
    font-family: 'Noto Sans JP', sans-serif;
}
/* pager */
.pager {
    margin: 100px 0;
}
.pager-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.pager-list li {
    margin: 0 5px;
    background: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
}
.pager-list li:not(.current):hover {
    opacity: .6;
    background: #eef2f3;
}
.pager-list li.current {
    background: #eef2f3;
    font-weight: bold;
}
.pager-list a {
    text-decoration: none;
    color: #000;
}
a.next {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-top: solid 1px #000;
    border-right: solid #000 1px;
    transform: rotate(45deg);
}
a.prev {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-top: solid 1px #000;
    border-right: solid #000 1px;
    transform: rotate(-135deg);
}